# PlatformIO
.pio
.pioenvs
.piolibdeps
.clang_complete
.gcc-flags.json
pip-log.txt

# Secrets & local credentials
include/config.h

# Build artifacts
*.o
*.d
*.elf
*.bin
*.hex

# OS files
.DS_Store
Thumbs.db
